<launch>
<arg name="Imu_name" default="Xsens" />
<arg name="calib_mode" default="1" />
<arg name="vis_on" default="true" />
<arg name="load_driver" default="true" />

  <group if="$(arg load_driver)">
    <include file="$(find sensor_imu_mti_xsens)/launch/xsens_mti.launch"> </include>
    <param name="xsens_mti/frequency" value="100" />
  </group>

  <!-- Magdwick_without_mag_correction -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="madgwick_$(arg Imu_name)_imu_filter_node" output="screen">
    <param name="mag_subscribe_topic_name" value="/sensor/imu/xsens_mti/mag_calib" />
    <param name="imu_subscribe_topic_name" value="/sensor/imu/xsens_mti/data" />

    <param name="imu_publish_topic_name" value="madgwick_imu_filter_node/$(arg Imu_name)/imu" />
    <param name="mag_publish_topic_name" value="NOTUSED" />

    <param name="use_mag" value="true" /> <!-- Use magnetometer data ?? -->
    <param name="use_magnetic_field_msg" value="true" /> <!-- is the magnetometer data in the standard message type ?? -->

    <param name="mag_calib_mode" value="2" /> <!-- 0=sensitivity + bias, 1=bias only, 2=no calibration at all -->

    <!-- Load imu parameters -->
    <rosparam command="load" file="$(find imu_calibration)/configs/$(arg Imu_name)_imu_sensor_config.yaml" />

    <param name="publish_debug_topics" value="true" />
    <param name="debug_topic_name" value="madgwick_imu_filter_node/$(arg Imu_name)/debug" />
  </node>

  <!-- Magdwick_with_mag_correction -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="madgwick_$(arg Imu_name)_imu_filter_corrected_node" output="screen">
    <param name="mag_subscribe_topic_name" value="/sensor/imu/xsens_mti/mag_calib" />
    <param name="imu_subscribe_topic_name" value="/sensor/imu/xsens_mti/data" />

    <param name="imu_publish_topic_name" value="madgwick_imu_filter_corrected_node/$(arg Imu_name)/imu" />
    <param name="mag_publish_topic_name" value="NOTUSED" />

    <param name="use_mag" value="true" /> <!-- Use magnetometer data ?? -->
    <param name="use_magnetic_field_msg" value="true" /> <!-- is the magnetometer data in the standard message type ?? -->

    <param name="mag_calib_mode" value="$(arg calib_mode)" /> <!-- 0=sensitivity + bias, 1=bias only, 2=no calibration at all -->

    <!-- Load imu parameters -->
    <rosparam command="load" file="$(find imu_calibration)/configs/$(arg Imu_name)_imu_sensor_config.yaml" />
    <rosparam command="load" file="$(find imu_calibration)/configs/$(arg Imu_name)_imu_mag_config.yaml" />

    <param name="publish_debug_topics" value="true" />
    <param name="debug_topic_name" value="madgwick_imu_filter_corrected_node/$(arg Imu_name)/debug" />
  </node>

<group if="$(arg vis_on)">
  <!--  corrected and filterd vis node-->
  <node pkg="imu_visualization" type="display_3D_visualization.py" name="Filtered_corrected_$(arg Imu_name)_data_vis_node" output="screen">
    <param name="imu_topic" value="madgwick_imu_filter_corrected_node/$(arg Imu_name)/imu" />
    <param name="imu_name" value="$(arg Imu_name)_filtered_corrected" />
    <param name="mag_topic" value="/sensor/imu/xsens_mti/mag_calib" />
  </node>

  <!-- filterd vis node no correction-->
  <node pkg="imu_visualization" type="display_3D_visualization.py" name="Filtered_$(arg Imu_name)_data_vis_node" output="screen">
    <param name="imu_topic" value="madgwick_imu_filter_node/$(arg Imu_name)/imu" />
    <param name="imu_name" value="Xsens_filtered" />
    <param name="mag_topic" value="/sensor/imu/xsens_mti/mag_calib" />
  </node>

  <!--  raw vis node-->
  <node pkg="imu_visualization" type="display_3D_visualization.py" name="Raw_Xsens_data_vis_node" output="screen">
    <param name="imu_topic" value="/sensor/imu/xsens_mti/data" />
    <param name="imu_name" value="Xsense_raw" />
    <param name="mag_topic" value="/sensor/imu/xsens_mti/mag_calib" />
  </node>
</group>

</launch>
